<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>
            Emoji Box
        </title>

        <link rel="preconnect" href="https://fonts.bunny.net" />
        <link
            href="https://fonts.bunny.net/css?family=instrument-sans:400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet"
        />
        <link rel="icon" type="image/png" href=/resources/images/icon.png />

        @vite(['resources/css/app.css', 'resources/js/app.js'])
        @stack('dumper')
    </head>

    <body>
        <h1 class="main-title">
            📦 Emoji Box
        </h1>
        <h2 class="main-subtitle">
            Just a personal emoji box.
        </h2>

        <form action="{{ route('emoji.create') }}" method="post">
            {{-- Implicitamente adiciona um campo CSRF oculto, por questão
            de segurança e para conseguir fazer o disparo --}}
            {{ csrfField() }}

            <button class="hatch-button">
                Hatch an Emoji Egg!
            </button>
        </form>

        @each(emoji in emojis)
            <li>
                {{ emoji.emoji }} {{ emoji.name }}
            </li>
        @end
    </body>
</html>
